# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
pyvenv.cfg
bin/
lib/
lib64/
.pyinstaller-venv/
.pyinstaller-build/
.pyinstaller-spec/
.dist/
dist/
build/

# Local data
.data/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db
